

/* GREEN TEA Pour Animations */

.animation-info {
    animation: white-info 2.5s ease;
}

#rotate-two{
    background-color:cadetblue;
    font-family: "rosewood-std-fill";
    font-size:14;
    position:relative;
        margin-left:20;
        margin-top:20
}

@keyframes white-info {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.visible {
    opacity: 1 !important;
}

.invisible {
    opacity: 0 !important;
}


#three-cup,
#four-cup {
    position: absolute;
    top: 0;
    left: 0;
}

#three-cup {
    z-index:2;
}

#four-cup {
    z-index:1;
    opacity:0;
}

.white-tea-information-container {
    /*    height: 280px;*/
    width: 380px;
    background-color: antiquewhite;
    position: relative;
    top: 80px;
    left: 320px;
    padding: 20px;
    opacity: 0;
    z-index: 3;
}


.other {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
}


.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}




.animation {
    animation: rotation 2.5s infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
}

    100% {
        transform: rotate(360deg);
}
    