* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
   width: 750; 
    height:4000px;
    background-color:floralwhite
}


#nav-top {
  width: 650px;
  height: 95px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin:50;
}

#nav-logo{
  background-color:black;
    display: flex;
    flex-direction: row;
    width:400;
  height: 95px;
    
}



#nav-toggle{
    display: flex;
    flex-direction: column;
    background-color:chartreuse;
    height:95px;
    width:95px;
}

.cover-photo{
    width:750px;
    height:700px;
    background-color:cadetblue
}

.cover-photo-text{
    width:320px;
    height:320px;
    position:absolute;
        margin-top:300;
        margin-left:400;
    font-size:30px;
        
}

#nav-section{
    width:750px;
    height:250px;
}

#nav-middle-title{
    width:600px;
    height:100px;
    background-color: black;
    color:white;
    margin:40 75 0 75;
    padding:30px;
    text-align:center
}

.nav-middle-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-middle{
     width:150px;
    height:100px;
    background-color: grey;
    margin:30 0 0 0;
    padding:20;
}







.project-1{
    width:670px;
    height:670px;
    background-color:blue;
    margin:40px;
}

.project-2{
    width:670px;
    height:670px;
    background-color:blue;
    margin:40px;
}


.project-3{
    width:670px;
    height:670px;
    background-color:blue;
    margin:40px;
}


.project-4{
    width:670px;
    height:670px;
    background-color:blue;
    margin:40px;
}



.footer-text {
    margin:40px;
    
}

.footer-images{
    display:flex;
    flex-direction: row;
      
}



.footer-image-1{
    width:300px;
    height:250px;
    background-color: aqua;
    margin:0 40
  

}

.footer-image-2{
    width:300;
    height:250px;
    background-color: aqua;
    margin:0 40
    
}






