*{
    margin:0px;
    
}

body{background-color: gainsboro;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: auto;
    margin-top:auto;
}

.container {
    width:768px;
    height:1600px;
    background-color:lavenderblush;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}

/*MAIN HEADING TEXT*/

.main-heading-container{
    background-color:aqua;
    height:450px;
    padding:5;
    
}

.big-heading{
    font-family: "Eloquent JF Pro", serif;
    font-size: 36px;
    text-align: center;
    height:40;
    background-color:blue;
    margin:30;
    padding:20
    
}

.information-section{
    background-color:hotpink;
    height:140px;
    margin:30;
    padding:20;
    font-family: Objectiv Mk1;
    
}
.instructions-section{
    height:30px;
    width:400;
    background-color:yellow;
    margin:30;
    padding:20
    
}

/*ILLUSTRATIONS AND ACTIONS*/


.action-container{
    background-color: darkgrey;
    height:1200;
    padding:5;

    
}


.green-tea-illustration{
    height:280;
    width:280;
    background-color: slateblue;
    margin:30    
}

#green-tea-information-container{
    height:200;
    width:480;
    background-color:mediumslateblue
}


.white-tea-illustration{
    height:280;
    width:280;
    background-color:aquamarine;
    margin:30;
}






























